<div class = "wrapper">
    <h1>Resume: {{fullName}}</h1>
    <table>
        <tr>
            <td>Full name:</td>
            <td> {{fullName}}</td>
        </tr>
        <tr>
            <td>Education:</td>
            <td> {{education}}</td>
        </tr>
        <tr>
            <td>Work:</td>
            <td> {{work1}}</td>
        </tr>
        <tr>
            <td></td>
            <td> {{work2}}</td>
        </tr>
        <tr>
            <td></td>
            <td> {{work3}}</td>
        </tr>
        <tr>
            <td>HardSkill:</td>
            <td> {{hardSkill}}</td>
        </tr>
        <tr>
            <td>SoftSkill:</td>
            <td> {{softSkill}}</td>
        </tr>
        <tr>
            <td>Foto:</td>
            <td class= "foto"><img [src] = "image" alt = "lotos"></td>
        </tr>
    </table>
    
    <!-- <img src = "{{image}}" alt = "lotos"> -->
</div>


